---
// Layout Import
import MainLayout from "../../layouts/MainLayout.astro";
// Component Imports
import PostList from "../../components/PostList.astro";
import Pagination from "../../components/Pagination.astro";

export async function getStaticPaths({ paginate }) {
    const PAGE_SIZE = 2;
    const allPosts = await Astro.glob("../../data/*.md");
    const allSortedPosts = allPosts.sort(
        (a, b) =>
            new Date(b.frontmatter.date).valueOf() -
            new Date(a.frontmatter.date).valueOf()
    );

    return paginate(allSortedPosts, {
        pageSize: PAGE_SIZE,
    });
}

const { page } = Astro.props;
---

<MainLayout
    title="Home"
    description={`Hey! This is Astromnl a simple Astro blog template.`}
>
    <h1 class="font-size-3">All Posts</h1>
    <PostList posts={page.data} />
    <Pagination page={page} />
</MainLayout>
