*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

:root {
  --pixel-neg5: -0.3125rem;
  --pixel-2: 0.125rem;
  --pixel-5: 0.3125rem;
  --pixel-10: 0.625rem;
  --pixel-15: 0.9375rem;
  --pixel-20: 1.25rem;
  --pixel-25: 1.5625rem;
  --pixel-30: 1.875rem;
  --pixel-40: 2.5rem;
  --pixel-50: 3.125rem;
  --pixel-60: 3.75rem;
  --spacing-neg1: var(--pixel-neg5);
  --spacing-0: var(--pixel-2);
  --spacing-1: var(--pixel-5);
  --spacing-2: var(--pixel-10);
  --spacing-3: var(--pixel-15);
  --spacing-4: var(--pixel-20);
  --spacing-5: var(--pixel-25);
  --spacing-6: var(--pixel-30);
  --spacing-7: var(--pixel-40);
  --spacing-8: var(--pixel-50);
  --spacing-9: var(--pixel-60);
  --border-thin: var(--pixel-2);
  --border-thick: var(--pixel-5);
  --wrapper-width: 64rem;
  --focus-underline: 0.375rem;
  --font-weight-bold: 700;
  --nav-underline-offset: 0.5rem;
  --color-black: #090806;
  --color-dark-grey: #505a5f;
  --color-grey: #b1b4b6;
  --color-white: #f2f1ec;
  --color-blue: #155389;
  --color-dark-blue: #0c3455;
  --color-pink: #f7bbd3;
  --color-dark-pink: #ef71a3;
  --color-yellow: #ffdd00;
  --color-mode: "light";
  --color-background: var(--color-white);
  --color-primary-text: var(--color-black);
  --color-secondary-text: var(--color-dark-grey);
  --color-link: var(--color-blue);
  --color-hover: var(--color-dark-blue);
  --color-active: var(--color-black);
  --color-focus: var(--color-yellow);
  --color-focus-text: var(--color-black);
  --color-focus-border: var(--color-black);
  --color-border: var(--color-black);
  --color-button: var(--color-link);
  --color-button-hover: var(--color-hover);
  --color-button-text: var(--color-white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-mode: "dark";
  }
  :root:not([data-user-color-scheme]) {
    --color-background: var(--color-black);
    --color-primary-text: var(--color-white);
    --color-secondary-text: var(--color-grey);
    --color-link: var(--color-pink);
    --color-hover: var(--color-dark-pink);
    --color-active: var(--color-white);
    --color-focus: var(--color-yellow);
    --color-focus-text: var(--color-black);
    --color-focus-border: var(--color-black);
    --color-border: var(--color-white);
    --color-button: var(--color-link);
    --color-button-hover: var(--color-hover);
    --color-button-text: var(--color-black);
  }
}

[data-user-color-scheme="dark"] {
  --color-background: var(--color-black);
  --color-primary-text: var(--color-white);
  --color-secondary-text: var(--color-grey);
  --color-link: var(--color-pink);
  --color-hover: var(--color-dark-pink);
  --color-active: var(--color-white);
  --color-focus: var(--color-yellow);
  --color-focus-text: var(--color-black);
  --color-focus-border: var(--color-black);
  --color-border: var(--color-white);
  --color-button: var(--color-link);
  --color-button-hover: var(--color-hover);
  --color-button-text: var(--color-black);
}

body,
.font-size-3,
.font-size-2,
.font-size-1,
.headline-caption,
.lead-paragraph,
.font-size--1 {
  font-size: clamp(
    var(--min-font-size),
    var(--fluid-font-size),
    var(--max-font-size)
  );
}

body {
  font-family: "Sora", sans-serif;
  font-weight: 400;
  --min-font-size: 1rem;
  --fluid-font-size: 0.91rem + 0.43vw;
  --max-font-size: 1.19rem;
  line-height: 1.75;
  background: var(--color-background);
  color: var(--color-primary-text);
}

h1,
h2,
h3 {
  font-weight: var(--font-weight-bold);
}

.font-size-3,
.font-size-2,
.font-size-1,
.headline-caption,
.lead-paragraph {
  line-height: 1.3;
}

.font-size-3 {
  --min-font-size: 2.37rem;
  --fluid-font-size: 1.92rem + 2.25vw;
  --max-font-size: 3.36rem;
}

.font-size-2 {
  --min-font-size: 1.78rem;
  --fluid-font-size: 1.51rem + 1.36vw;
  --max-font-size: 2.37rem;
}

.font-size-1,
.headline-caption,
.lead-paragraph {
  --min-font-size: 1.33rem;
  --fluid-font-size: 1.18rem + 0.79vw;
  --max-font-size: 1.68rem;
}

.font-size--1 {
  --min-font-size: 0.75rem;
  --fluid-font-size: 0.71rem + 0.2vw;
  --max-font-size: 0.84rem;
}

p {
  margin-bottom: var(--spacing-4);
}

a {
  text-underline-offset: 20%;
}

a:hover,
a[aria-current="page"] {
  text-decoration-thickness: 20%;
}

.capitalize {
  text-transform: uppercase;
}

.font-size-3,
.font-size-2,
.font-size-1,
.headline-caption,
.lead-paragraph {
  margin-bottom: var(--spacing-2);
}

.title-spacing,
.lead-paragraph {
  margin-bottom: var(--spacing-9);
}

.headline-caption {
  margin-bottom: 0;
}

.medium-post img {
  margin-bottom: var(--spacing-1);
}

.medium-post blockquote,
.medium-post figure {
  margin-bottom: var(--spacing-6);
}

.medium-post ol {
  padding-left: calc(1.1rem + 0.43vw);
}

.medium-post ol li::marker {
  font-weight: var(--font-weight-bold);
}

.meta-information > * {
  margin-bottom: var(--spacing-1);
}

footer p {
  margin-bottom: var(--spacing-1);
  line-height: 1.125;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul li,
ol li {
  margin-bottom: var(--spacing-3);
}

.list-extra-spaced .font-size-1,
.list-extra-spaced .headline-caption,
.list-extra-spaced .lead-paragraph {
  margin-bottom: var(--spacing-1);
}

.list-extra-spaced > li {
  margin-bottom: var(--spacing-5);
}

.tags,
.list-horizontal,
.nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.tags li,
.list-horizontal li,
.nav-list li {
  flex-basis: max-content;
  margin-bottom: 0;
}

.list-horizontal,
.nav-list {
  gap: 0 var(--spacing-3);
}

.tags {
  gap: 0 var(--spacing-2);
}

.dash::before {
  content: "- ";
}

blockquote,
figcaption,
.headline-caption,
.lead-paragraph,
.meta-information {
  color: var(--color-secondary-text);
}

.headline-caption,
.article-title {
  display: block;
}

a:focus,
.font-size-1 > a:focus {
  box-shadow: 0 var(--focus-background) var(--color-focus),
    0 var(--focus-underline) var(--color-focus-border);
}

a {
  color: var(--color-link);
}

a:hover {
  color: var(--color-hover);
}

a:active {
  color: var(--color-active);
}

a:focus {
  background: var(--color-focus);
  color: var(--color-focus-text);
  text-decoration-skip-ink: none;
  --focus-background: -0.5rem;
  text-decoration: none;
  outline: var(--spacing-0) solid transparent;
}

.font-size-1 > a:focus,
.headline-caption > a:focus,
.lead-paragraph > a:focus {
  --focus-background: -0.125rem;
}

.nav-list {
  gap: 0 var(--spacing-7);
  font-weight: var(--font-weight-bold);
}

.nav-list a:not(:hover, [aria-current="page"]) {
  text-decoration: none;
}

.nav-list a[aria-current="page"] {
  color: var(--color-active);
  text-underline-offset: var(--nav-underline-offset);
}

.nav-list a:hover {
  color: var(--color-hover);
  text-underline-offset: var(--nav-underline-offset);
}

.nav-list a:focus {
  color: var(--color-focus-text);
}

header {
  border-bottom: var(--border-thick) solid var(--color-border);
  padding-top: var(--spacing-6);
  padding-bottom: var(--spacing-4);
}

footer {
  border-top: var(--border-thick) solid var(--color-border);
  padding-top: var(--spacing-6);
  padding-bottom: var(--spacing-6);
}

main {
  padding-top: var(--spacing-9);
  padding-bottom: var(--spacing-9);
}

.wrapper {
  width: 90%;
  max-width: var(--wrapper-width);
  margin: 0 auto;
}

.wrapper:focus {
  outline: none;
}

.flex-container {
  display: flex;
  gap: var(--spacing-4) var(--spacing-7);
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}

.grid-container {
  display: grid;
  grid-template-columns: minmax(auto, calc(var(--wrapper-width) * 3 / 4));
}

.site-head-brand {
  min-height: 4.59rem;
}

section {
  margin-top: var(--spacing-9);
  margin-bottom: var(--spacing-9);
}

.visually-hidden,
.skip-link:not(:focus) {
  display: block;
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.skip-link {
  display: block;
  padding-left: var(--pixel-5);
}

.no-js .user-toggle {
  display: none;
}

.js-mode-toggle {
  background: var(--color-button);
  color: var(--color-button-text);
  cursor: pointer;
  border: 0;
  padding: var(--spacing-1) var(--spacing-3) var(--spacing-0);
  border-bottom: var(--border-thick) var(--color-button-hover) solid;
}

.js-mode-toggle:focus {
  outline: var(--border-thin) solid var(--color-focus);
  background: var(--color-focus);
  color: var(--color-focus-text);
  border-bottom: var(--border-thick) var(--color-focus-border) solid;
}

.js-mode-toggle:hover {
  background: var(--color-button-hover);
  color: var(--color-button-text);
}

/************** Pagination **********************/
@media (min-width: 48.0625em) {
  .moj-pagination {
    margin-left: -5px;
    margin-right: -5px;
    font-size: 0;
    text-align: justify;
  }
  .moj-pagination:after {
    content: "";
    display: inline-block;
    width: 100%;
  }
  .moj-pagination__list {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .moj-pagination__results {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
}

.moj-pagination__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.moj-pagination__results {
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  margin-top: 0;
}

@media (min-width: 40.0625em) {
  .moj-pagination__results {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
  .moj-pagination__item {
    font-size: 19px;
    font-size: 1.1875rem;
    line-height: 1.31579;
  }
}

@media print {
  .moj-pagination__results {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.moj-pagination__item {
  font-weight: 400;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.25;
  display: inline-block;
}

@media print {
  .moj-pagination__item {
    font-size: 14pt;
    line-height: 1.15;
  }
}

.moj-pagination__item--active,
.moj-pagination__item--dots {
  font-weight: bold;
  height: 25px;
  padding: 5px 10px;
  text-align: center;
}

.moj-pagination__item--dots {
  padding-left: 0;
  padding-right: 0;
}

.moj-pagination__item--prev .moj-pagination__link:before,
.moj-pagination__item--next .moj-pagination__link:after {
  display: inline-block;
  height: 10px;
  width: 10px;
  border-style: solid;
  color: #0b0c0c;
  background: transparent;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  content: "";
}

.moj-pagination__item--prev .moj-pagination__link:before {
  border-width: 3px 0 0 3px;
  margin-right: 5px;
}

.moj-pagination__item--next .moj-pagination__link:after {
  border-width: 0 3px 3px 0;
  margin-left: 5px;
}

.moj-pagination__link {
  display: block;
  padding: 5px;
  text-align: center;
  text-decoration: none;
  min-width: 25px;
}

.moj-pagination__link:focus {
  outline: 3px solid transparent;
  color: #0b0c0c;
  background-color: #fd0;
  box-shadow: 0 -2px #fd0, 0 4px #0b0c0c;
  text-decoration: none;
}

.moj-pagination__link:link {
  color: #1d70b8;
}

.moj-pagination__link:visited {
  color: #4c2c92;
}

.moj-pagination__link:hover {
  color: #003078;
}

.moj-pagination__link:active {
  color: #0b0c0c;
}

.moj-pagination__link:focus {
  color: #0b0c0c;
}

.moj-pagination__link:link,
.moj-pagination__link:visited {
  color: #1d70b8;
}

.moj-pagination__link:hover {
  color: #5694ca;
}

.moj-pagination__link:focus {
  color: #0b0c0c;
}

.moj-pagination__results {
  padding: 5px;
}

.govuk-visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow: hidden !important;
  clip: rect(0 0 0 0) !important;
  -webkit-clip-path: inset(50%) !important;
  clip-path: inset(50%) !important;
  border: 0 !important;
  white-space: nowrap !important;
}
