---
// Layout Import
import MainLayout from '../layouts/MainLayout.astro'
---
<MainLayout 
  title="About" 
  description={`About information on Astrohalfa Simple Blog.`}>
    <article>
        <h1>About</h1>
        <p>Astrohalfa is a minimalist, mobile first 11ty theme with focus on readability and content. Created for free and for fun by Stijn. Get the latest version at the
            <a href="https://github.com/">Github repository</a>.</p>

        <hr/>

        <p>Astrohalfa is open source,
            <a href="http://opensource.org/licenses/MIT">MIT license</a>.
        </p>
    </article>
</MainLayout>