---
// Layout Import
import MainLayout from '../layouts/MainLayout.astro'
---
<MainLayout 
  title="Contact" 
  description={`Astrohalfa Contact Form.`}>
    <article>
        <h1>Contact</h1>
        <p>
            Yes, this contact form actually works. If you really want to test it, please write something in it. I do receive these submissions ;-)
        </p>

        <form action="//formspree.io/contact@stijn.vc" method="POST">
            <input type="email" name="_replyto" placeholder="Your email"/>
            <input type="hidden" name="_next" value="/holo-alfa/thanks"/>
            <input type="hidden" name="_subject" value="New submission from http://steinvc.github.io/holo-alfa"/>
            <input type="text" name="_gotcha" style="display: none"/>
            <textarea type="text" name="content" rows="8" placeholder="Your message"></textarea>
            <input type="submit" value="Send"/>
        </form>
    </article>
</MainLayout>