---
// Layout Import
import MainLayout from '../layouts/MainLayout.astro'
// Component Imports
import PostList from '../components/PostList.astro'

// Data Fetching: fetch recent posts
let allPosts = Astro.fetchContent('../posts/*.md');
allPosts = allPosts.sort((a, b) => new Date(b.date).getTime() - new Date(a.date).getTime());
const recentPosts = allPosts.slice(0, 3)
---
<MainLayout 
  title="Home" 
  description={`Hey! This Astro Halfa a simple Astro blog template.`}>
    <PostList posts={recentPosts} />
    <a href="/posts/">read more posts...</a>
</MainLayout>