---
// Layout Import
import MainLayout from "../layouts/MainLayout.astro";
// Component Imports
import PostList from "../components/PostList.astro";

// Data Fetching: fetch recent posts
let allPosts = await Astro.glob("../data/*.md");
allPosts = allPosts.sort(
  (a, b) =>
    new Date(b.frontmatter.date).valueOf() -
    new Date(a.frontmatter.date).valueOf()
);
const recentPosts = allPosts.slice(0, 3);
---

<MainLayout
  title="Home"
  description={`Hey! This is Astromnl a simple Astro blog template.`}
>
  <h1 class="font-size-3">Ridium Dahlia</h1>
  <p class="lead-paragraph">Justo nec ultrices dui sapien eget mi proin sed</p>
  <PostList posts={recentPosts} />
</MainLayout>
