<footer>
    <div class="inner">
        <p>
            This is the footer.<br/>
            <a href="https://gitub.com">Astrohalfa</a >
            is an <a href="https://astro.build">Astro.js</a > theme crafted by
            <a href="https://github.com/">Random Author</a>.
        </p>
    </div>
</footer>