<footer>
    <div class="inner">
        <p>
            This is the footer.<br/>
            <a href="http://gitub.com">Astrohalfa</a >
            is an <a href="http://astro.build">Astro.js</a > theme crafted by
            <a href="http://github.com/">Author</a>.
        </p>
    </div>
</footer>