<footer role="contentinfo" class="wrapper flex-container">
    <div></div>
    <div class="footer-content">
        <p><small class="font-size--1 meta-information">Designed and built by Nikin Nagewadia</small></p>
        <p>
            <small class="font-size--1 meta-information">Last built on
                <time datetime="2021-12-10T07:14:39.095Z">Fri,10 Dec 2021 07:14:39 GMT</time>
            </small>
        </p>
    </div>
</footer>