<a class="skip-link wrapper" href="#main-content">Skip to content</a>
<header role="banner" class="wrapper flex-container">
    <a href="/" aria-label="Nikin Nagewadia - home" class="site-head-brand">
        <img loading="eager" src="/code.svg" alt="A 3D emoji of Nikin Nagewadia." height="80" width="80">
    </a>

    <nav class="site-navigation" aria-label="Primary">
        <ul class="nav-list">
            <li><a href="/" aria-current="page">Home</a></li>
            <li><a href="/about">About</a></li>
             <li><a href="/blog/all">Blog</a></li>
        </ul>
    </nav>
</header>