<header>
    <a href="/" class="website-title">
        Astrohalfa
    </a>
    <nav>
        <a href="/about/">About</a>
        <a href="/contact">Contact</a>
    </nav>

    <div class="subtitle">
        <p>
            Astrohalfa is a minimalist, mobile first <a href="https://astro.build">Astro.js</a > theme with focus on readability and content.
        </p>
    </div>
</header>