<header>
    <a href="/" class="website-title">
        Astrohalfa
    </a>
    <nav>
        <a href="/about/">About</a>
        <a href="/contact">Contact</a>
    </nav>

    <div class="subtitle">
        <p>
            Astrohalfa is a minimalist, mobile first 11ty theme with focus on readability and content.
            <a href="https://github.com/">&lt;/&gt; on Github</a >.
        </p>
    </div>
</header>