---
const { page } = Astro.props
---
<div class="page-actions">
    {page.url.prev && <a class="read-more" href={page.url.prev || '#'} title="Go to Previous">&larr; Prev</a>}
    {page.url.next && <a class="read-more" href={page.url.next || '#'} title="Go to Next">Next &rarr;</a>}

    <!-- <a class="action-gotox" href={page.url.prev || '#'} aria-label="Previous Page">&larr; Prev</a>
    <a class="action-gotox" href={page.url.next || '#'} aria-label="Next Page">Next &rarr;</a> -->
</div>
<style>
    .page-actions {
        display: flex;
        justify-content: center;
        gap: 0.5rem;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
    }
    .action-gotox {
        font-size: 1rem;
        line-height: 1.5rem;
        text-transform: uppercase;
    }
</style>